<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cookies</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		{{!-- it already knows to put home or login or whatever into the body --}}
		{{{body}}}
	</body>
</html>