{{>header}} 

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Minute Cookie Recipes</h2>
    <a href="/cookies" class="btn">View Recipes</a>
    <hr>
    <h4>Demo email is demo@demo.com and password is 123456</h4>

  </div>
</header>

{{>footer}} 